#Frontend
chainlit

#Backend
langchain_core
langgraph
langchain_community
langchain-openai
openai
typing
requests
beautifulsoup4

#Evaluation
langsmith
IPython
ragas
datasets

#Vectorization
langchain-weaviate
weaviate-client>=4.7.1

#Visualization & Data
pandas
plotly

#Additional LLM Providers
langchain-groq
langchain-anthropic
langchain-ollama

#Crawler
html2text